M_Service References/RoleService/ShreeClients.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShreeClients" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16507/ShreeClients.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16507/ShreeClients.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16507/ShreeClients.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shree365" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShreeClients_InsertRole_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRole" />
  </wsdl:message>
  <wsdl:message name="IShreeClients_InsertRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IShreeClients_GetAllRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRole" />
  </wsdl:message>
  <wsdl:message name="IShreeClients_GetAllRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IShreeClients_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IShreeClients_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IShreeClients_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="IShreeClients_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IShreeClients">
    <wsdl:operation name="InsertRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IShreeClients/InsertRole" message="tns:IShreeClients_InsertRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShreeClients/InsertRoleResponse" message="tns:IShreeClients_InsertRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IShreeClients/GetAllRole" message="tns:IShreeClients_GetAllRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShreeClients/GetAllRoleResponse" message="tns:IShreeClients_GetAllRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IShreeClients/DeleteRole" message="tns:IShreeClients_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShreeClients/DeleteRoleResponse" message="tns:IShreeClients_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IShreeClients/UpdateRole" message="tns:IShreeClients_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShreeClients/UpdateRoleResponse" message="tns:IShreeClients_UpdateRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShreeClients" type="tns:IShreeClients">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRole">
      <soap:operation soapAction="http://tempuri.org/IShreeClients/InsertRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRole">
      <soap:operation soapAction="http://tempuri.org/IShreeClients/GetAllRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IShreeClients/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/IShreeClients/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShreeClients">
    <wsdl:port name="BasicHttpBinding_IShreeClients" binding="tns:BasicHttpBinding_IShreeClients">
      <soap:address location="http://localhost:16507/ShreeClients.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>