M_Service References/RoleService/ShreeClients1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shree365" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shree365" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="ArrayOfUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRole" nillable="true" type="tns:ArrayOfUserRole" />
</xs:schema>